// styles.scss

$mermaid-bg-color: #ffffff;
$mermaid-node-bg-color: rgba(#ffddc1, 0.8);
$mermaid-node-fg-color: #e07a5f;
$mermaid-font-family: 'Fira Code', monospace;
$mermaid-edge-color: #81b29a;
$mermaid-label-fg-color: #3d405b;
